<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://it.tradingview.com/symbols/KRAKEN-XBTUSD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Analisi tecnica su XBTUSD</span></a> da TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
        {
            "showIntervalTabs": true,
                "width": 640,
                "colorTheme": "light",
                "isTransparent": false,
                "locale": "it",
                "symbol": "KRAKEN:XBTUSD",
                "interval": "1m",
                "height": 575
        }
    </script>
</div>
<!-- TradingView Widget END -->
