<h2> Thank for blockChainInfo stats</h2>
<figure class="highcharts-figure">
    <div id="container" style="height:50vw"></div>
</figure>
<script>


    $(document).ready(function () {
        $.post("/blockChainInfo/downloadJson", function (response, status) {

                    // var arrT = response.t;
                    var arrV    = response.v;
                    var BTC     = Object.values(response.BTC);
                    var arrTime = Object.keys(response.BTC);
                    var dbtc    = [arrV.length * 2];

                    for (var i = 0; i < arrV.length; i++) {
                        dbtc.push(arrV[i]);
                        dbtc.push(arrV[i]);
                    }

                    Highcharts.chart('container', {
                        chart      : {
                            zoomType: 'xy'
                        },
                        title      : {
                            text: "Cost per transaction",
                        },
                        subtitle   : {
                            text: document.ontouchstart === undefined ?
                                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis      : [{
                            categories: arrTime,
                            crosshair : true
                        }],
                        yAxis      : [{ // Primary yAxis
                            type         : 'linear',
                            alignTicks   : true,
                            tickInterval : 1,
                            tickPositions: [0, 25, 50, 75, 100, 150, 160],
                            title        : {
                                text  : 'cost per transaction',
                                margin: 20,
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            labels       : {
                                align : 'right',
                                format: '{value}',
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            opposite     : true

                        }, { // Secondary yAxis
                            type         : 'logarithmic',
                            tickInterval : 1,
                            tickPositions: [0.06, 0, 1, 2, 5, 10, 30, 50, 100, 400, 800, 1000, 1200, 2000, 3200, 6000, 8000, 10000, 12000, 14000, 20000].map((v) => Math.log10(v)),
                            title        : {
                                text  : 'BTC[Price]',
                                margin: 10,
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },

                            labels: {
                                align : 'right',
                                format: '{value}$',
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }

                        }],
                        legend     : {
                            enabled: false
                        },
                        plotOptions: {

                            animation: {
                                duration: 2000
                            }
                        },

                        series: [{
                            name   : 'Cost per transaction USD',
                            type   : 'spline',
                            yAxis  : 0,
                            data   : dbtc,
                            zones  : [{
                                value: 0,
                                color: '#003399'
                            }, {
                                value: 25,
                                color: '#05ff03'

                            }, {
                                value: 50,

                                color: '#fce903'
                            }, {
                                value: 75,
                                color: '#ff8a00'
                            }, {
                                value: 100,
                                color: '#ff0000'

                            },{
                                value: 200,
                                color: '#a50846'

                            }],
                            tooltip: {
                                valueSuffix: ''
                            }

                        }, {
                            name   : 'BTC',
                            type   : 'spline',
                            yAxis  : 1,
                            data   : BTC,
                            tooltip: {
                                valueSuffix: ' $'
                            }
                        }]
                    });    // fine highcharts

                }
        );


    }); // chiusura Documents

</script>
