<!-- <input id="data" type="hidden" value="{{data}}">
<input id="prices" type="hidden" value="{{prices}}">

<h2>Fear & Greed Index BTC </h2>
<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />

<h2>Fear & Greed Index S&P 500 </h2>
<img src="https://money.cnn.com/.element/img/5.0/data/feargreed/1.png" />



<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://it.tradingview.com/symbols/KRAKEN-XBTUSD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Analisi tecnica su XBTUSD</span></a> da TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
        {
            "showIntervalTabs": true,
                "width": 640,
                "colorTheme": "light",
                "isTransparent": false,
                "locale": "it",
                "symbol": "KRAKEN:XBTUSD",
                "interval": "1m",
                "height": 575
        }
    </script>
</div>

<script src="./javascripts/chartjs/Chart.js"></script>
<script src="./javascripts/chartjs/Chart.bundle.js"></script>
<script src="./javascripts/chartjs/Chart.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style >
    .overflow-auto{
        width: 100%; overflow-x: auto;overflow-y:auto
    }
    .canvas{
        width: 200vw; height:100vh
    }
</style>

<div id="container">
    <div id="canvas" class="canvas" >
        <canvas id="myChart"></canvas>
    </div>
</div>
-->


