<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
            crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>


    </style>
    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">

</head>
<body>

<nav class="site-header sticky-top py-1">
    <div id="large-navbar" class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                 viewBox="0 0 24 24" focusable="false"><title>Product</title>
                <circle cx="12" cy="12" r="10"/>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/fgBTC">Fear & Greed BTC</a>
        <a class="py-2 d-none d-md-inline-block" href="/fgSP500">Fear & Greed S&P 500</a>
        <a class="py-2 d-none d-md-inline-block" href="/ATBTC">AT BTC</a>
        <a class="py-2 d-none d-md-inline-block" href="/Unrealized_PL">Unrealized Profit/Loss</a>
        <a class="py-2 d-none d-md-inline-block" href="/blockChainInfo">Blockchain.info</a>
    </div>
    <div id="small-navbar" class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-botton dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Dropdown Menu
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/fgBTC">Fear & Greed BTC</a>
                <a class="dropdown-item" href="/fgSP500">Fear & Greed S&P 500</a>
                <a class="dropdown-item" href="/ATBTC">AT BTC</a>
                <a class="dropdown-item" href="/Unrealized_PL">Unrealized Profit/Loss</a>
                <a class="dropdown-item" href="/blockChainInfo">Blockchain.info</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">Home Page</a>
                <a class="dropdown-item" href="#">Under Constrution</a>
            </div>
        </div>

    </div>
</nav>

{{{body}}}
</body>


<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                 viewBox="0 0 24 24" focusable="false"><title>Home Page</title>
                <circle cx="12" cy="12" r="10"/>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
            </svg>
            <small class="d-block mb-3 text-muted">&copy;2019</small>
        </div>
        <div class="col-6 col-md">
            <h5>Special thanks</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://alternative.me/">Alternative</a></li>
                <li><a class="text-muted" href="https://studio.glassnode.com">Glassnode</a></li>
                <li><a class="text-muted" href="https://www.tradingview.com/">TradingView</a></li>
                <li><a class="text-muted" href="https://money.cnn.com">Money.cnn</a></li>
                <li><a class="text-muted" href="https://www.blockchain.com/charts">blockchain.com</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Interesting Link</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://medium.com/@100trillionUSD/modeling-bitcoins-value-with-scarcity-91fa0fc03e25">Btc's Value with Scarcity (S2F)</a></li>
                <li><a class="text-muted" href="https://www.bitcoinblockhalf.com/">Bitcoin Halving Countdown</a></li>
                <li><a class="text-muted" href="https://www.buybitcoinworldwide.com/mining/pools/">Hashrate distribution</a></li>
                <li><a class="text-muted" href="https://trends.google.com/trends/explore?q=bitcoin">Google Trends Bitcoin</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Technical Analysis</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.centralcharts.com/en/gm/1-learn/7-technical-analysis">centralcharts.com</a></li>
                <li><a class="text-muted" href="http://thepatternsite.com/chartpatterns.html">Bulkowski's Pattern Index</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Youtuber to follow </h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.youtube.com/channel/UCc4Rz_T9Sb1w5rqqo9pL1Og">"The moon" Carl</a></li>
                <li><a class="text-muted" href="https://www.youtube.com/channel/UCnKPQUoCRb1Vu-qWwWituGQ">UKspreadbetting</a></li>
                <li><a class="text-muted" href="https://www.youtube.com/user/alessiorastani">Alessio Rastani</a></li>
                <li><a class="text-muted" href="https://www.youtube.com/channel/UCOaew10hdmtfa0MinTjOBqg">Crypto Kirby Trading</a></li>
                <li><a class="text-muted" href="https://www.youtube.com/channel/UC7ndkZ4vViKiM7kVEgdrlZQ">Crypto Crew University</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>
