<div id="wrapper" class="row">
    <div class="col-12 ">
        <h2>Thank to <a href="https://studio.glassnode.com/"> Studio Glassnode for the API</a></h2>
        <p>Net Unrealized Profit/Loss is the difference between Relative Unrealized Profit and Relative Unrealized Loss.
            For more information see this article. This metric can also be calculated by subtracting realised cap from
            market cap, and dividing the result by the market cap as described in this article.</p>
        <p>My individual opinion it's a good entry point to buy is when <bold>P/L  0.25 or less and sell  more than 0.5 during side trends </bold></p>
        <p>During parabola or exponential trends the best you can do is buy P / L is 0 or less and sell when it is 0.75.</p>
    </div>
    <div class="col-12">
        <figure class="highcharts-figure">
            <div id="container" style="height:50vw"></div>
        </figure>
    </div>



</div>
<script>


    $(document).ready(function () {
        $.post("/Unrealized_PL/downloadJson", function (response, status) {

                    var arrT = response.t;
                    var arrV = response.v;


                    var BTC = Object.values(response.BTC);


                    var arrTime = [];


                    for (let i = 0; i < arrT.length; i++) {


                        var a      = new Date(arrT[i] * 1000);
                        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                        var year   = a.getFullYear();
                        var month  = months[a.getMonth()];
                        var date   = a.getDate();
                        var time   = date + ' ' + month + ' ' + year;
                        arrTime.push(time);
                    }


                    Highcharts.chart('container', {
                        chart      : {
                            zoomType: 'xy'
                        },
                        title      : {
                            text: "Unrealized Profit/Loss ",
                        },
                        subtitle   : {
                            text: document.ontouchstart === undefined ?
                                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis      : [{
                            categories: arrTime,
                            crosshair : true
                        }],
                        yAxis      : [{ // Primary yAxis
                            type         : 'linear',
                            alignTicks   : true,
                            tickInterval : 1,
                            tickPositions: [-1.75, -1.5, -1.25, -1, -0.75, -0.5, -0.25, 0, 0.25, 0.5, 0.75, 1],
                            title        : {
                                text  : 'Unrealized Profit/Loss',
                                margin: 20,
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            labels       : {
                                align : 'right',
                                format: '{value}',
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            opposite     : true

                        }, { // Secondary yAxis
                            type         : 'logarithmic',
                            tickInterval : 1,
                            tickPositions: [0.06, 0, 1, 2, 5, 10, 30, 50, 100, 400, 1200, 2000, 3200, 6000, 10000, 14000, 20000].map((v) => Math.log10(v)),
                            title        : {
                                text  : 'BTC[Price]',
                                margin: 10,
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },

                            labels: {
                                align : 'right',
                                format: '{value}$',
                                style : {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }

                        }],
                        legend     : {
                            enabled: false
                        },
                        plotOptions: {

                            animation: {
                                duration: 2000
                            }
                        },

                        series: [{
                            name   : 'Unrealized Profit/Loss',
                            type   : 'spline',
                            yAxis  : 0,
                            data   : arrV,
                            zones  : [{
                                value: 0,
                                color: '#ff0000'
                            }, {
                                value: 0.25,
                                color: '#ff8a00'
                            }, {
                                value: 0.5,
                                color: '#fce903'
                            }, {
                                value: 0.75,
                                color: '#05ff03'
                            }, {
                                value: 1,
                                color: '#003399'
                            }],
                            tooltip: {
                                valueSuffix: ''
                            }

                        }, {
                            name   : 'BTC',
                            type   : 'spline',
                            yAxis  : 1,
                            data   : BTC,
                            tooltip: {
                                valueSuffix: ' $'
                            }
                        }]
                    });  // fine highcharts

                }
        );


    }); // chiusura Documents

</script>
