body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 20px
}
